@charset "UTF-8";
:root {
  --body-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --display-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-size: calc(1.08rem + 0.15vw);
  --font-size-lead: calc(1.4rem + 0.1vw);
  --font-size-small: calc(0.9rem + 0.1vw);
  --font-weight-light: 100;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-heavy: 900;
  --font-weight-heavy: var(--font-weight-bold);
  --line-height: 1.6;
  --line-height-headings: 1;
  --color-grey-dark: #333333;
  --color-grey: #ddd;
  --color-grey-light: #efefef;
  --color-primary: #F9BFEC;
  --color-secondary: #4CD0DE;
  --color-tertiary: #B0FBB5;
  --color-quaternary: #F2EDF1;
  --color-text-base: var(--color-grey-dark);
  --color-text-dark: #000;
  --color-text-reversed: #fff;
  --color-text-link: #0087D0;
  --color-text-hover: #003451;
  --heading-color: var(--color-grey-dark);
  --color-facebook: #3B5998;
  --color-twitter: #1DA1F2;
  --color-instagram: #262626;
  --color-youtube: #cc181e;
  --color-linkedin: #0077B5;
  --body-background-color: var(--color-quaternary);
  --border-radius: 16px;
  --spacing-xxl: 100px;
  --spacing-xl: 75px;
  --spacing-l: 50px;
  --spacing-m: 40px;
  --spacing: 30px;
  --spacing-s: 0.5rem;
  --spacing-xs: 0.25rem;
  --content-width: 768px;
  --container-small: 768px;
  --container: 1360px;
  --container-large: 1600px;
  --font-size-h1: calc(1.8rem + 0.2vw);
  --font-size-h2: calc(2.6rem + 0.2vw);
  --font-size-h3: calc(2.2rem + 0.2vw);
  --font-size-h4: calc(1.2rem + 0.2vw);
  --font-size-h5: calc(1.2rem + 0.2vw);
}
@media (min-width: 70em) {
  :root {
    --font-size-h1: calc(3rem + 0.2vw);
    --font-size-h2: calc(2.8rem + 0.2vw);
    --font-size-h3: calc(2.4rem + 0.2vw);
    --font-size-h4: calc(1.4rem + 0.2vw);
    --font-size-h5: calc(1.2rem + 0.2vw);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html, body {
  height: 100%;
}

/* Set core body defaults */
html,
body {
  font-family: var(--body-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-rendering: optimizeSpeed;
  color: var(--color-text-base);
  background-color: var(--body-background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Make sure images with WordPress-added height and width attributes are scaled correctly */
img[class*=align],
img[class*=wp-image-] {
  height: auto;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
p {
  font-size: 15px;
  margin-bottom: var(--spacing);
}
@media (min-width: 50em) {
  p {
    font-size: var(--font-size);
  }
}
p:last-of-type {
  margin-bottom: 0;
}

p.lead {
  font-size: var(--font-size-lead);
}

ul,
ol {
  list-style: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1em;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

li p {
  margin: 0;
}

blockquote {
  padding-left: 1em;
  border-left: 4px solid var(--color-text-dark);
}

a {
  color: var(--color-text-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-text-hover);
  text-decoration: underline;
}

h1, .heading-1,
h2, .heading-2,
h3, .heading-3 {
  margin: 0;
  line-height: var(--line-height-headings);
  font-weight: var(--font-weight-bold);
  color: var(--heading-color);
  margin-bottom: var(--spacing);
}
@media (min-width: 50em) {
  h1, .heading-1,
h2, .heading-2,
h3, .heading-3 {
    margin-bottom: var(--spacing-l);
  }
}

h4, .heading-4,
h5, .heading-5 {
  margin: 0;
  line-height: var(--line-height-headings);
  font-weight: var(--font-weight-bold);
  color: var(--heading-color);
  margin-bottom: var(--spacing);
}

h1, .heading-1 {
  font-size: var(--font-size-h1);
}

h2, .heading-2 {
  font-size: var(--font-size-h2);
}

h3, .heading-3 {
  font-size: var(--font-size-h3);
}

h4, .heading-4 {
  font-size: var(--font-size-h4);
}

h5, .heading-5 {
  font-size: var(--font-size-h5);
}

code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.75em;
  font-style: normal;
  background-color: #f4f4f4;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

pre {
  background-color: #f4f4f4;
  border-radius: 0.2rem;
  padding: 0.5rem;
  overflow: auto;
  width: calc(96vw - 2em);
  line-height: 1.3;
}

.form {
  padding: var(--spacing);
}
@media (min-width: 50em) {
  .form {
    padding: var(--spacing-xl);
  }
}

.form-fields {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 50em) {
  .form-fields {
    margin: 0 auto 2rem auto;
  }
}
.form-fields--half {
  margin-bottom: 0.2rem;
  width: 100%;
}
@media (min-width: 50em) {
  .form-fields--half {
    margin-bottom: 0.2rem;
    width: 50%;
    padding-left: 0.5rem;
  }
}
@media (min-width: 50em) {
  .form-fields--half:first-child {
    padding-left: 0;
    padding-right: 0.5rem;
  }
}
.form-fields--full {
  margin-bottom: 0.2rem;
  width: 100%;
}

input[type=email],
input[type=number],
input[type=search],
input[type=text],
input[type=tel],
input[type=url],
input[type=password],
select,
textarea {
  padding: 1rem 1.5rem;
  background-color: #fff;
  border: 0;
  box-shadow: none;
  box-sizing: border-box;
  font-family: var(--body-family);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size);
  width: 100%;
  display: inline-block;
  margin-bottom: 0.7rem;
  color: var(--color-text-base);
}
input[type=email] .full-width,
input[type=number] .full-width,
input[type=search] .full-width,
input[type=text] .full-width,
input[type=tel] .full-width,
input[type=url] .full-width,
input[type=password] .full-width,
select .full-width,
textarea .full-width {
  width: 100%;
}

::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-text-base);
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-text-base);
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-text-base);
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--color-text-base);
}

.wpcf7-not-valid::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-text-base);
  opacity: 1;
  /* Firefox */
}

.wpcf7-not-valid:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-text-base);
  opacity: 1;
  /* Firefox */
}

.wpcf7-not-valid::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-text-base);
  opacity: 1;
  /* Firefox */
}

.wpcf7-not-valid:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--color-text-base);
}

.wpcf7-not-valid::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--color-text-base);
}

input[type=email].wpcf7-not-valid,
input[type=number].wpcf7-not-valid,
input[type=search].wpcf7-not-valid,
input[type=text].wpcf7-not-valid,
input[type=tel].wpcf7-not-valid,
input[type=url].wpcf7-not-valid,
input[type=password].wpcf7-not-valid,
select.wpcf7-not-valid,
textarea.wpcf7-not-valid {
  background-color: white;
  border: 4px solid red !important;
  font-weight: var(--font-weight-bold);
}

.wpcf7-form p {
  margin-bottom: 0;
}

.wpcf7-not-valid-tip {
  text-align: left;
  margin: -5px 0 10px 0;
  font-size: var(--font-size-small) !important;
  font-weight: var(--font-weight-bold);
  position: relative;
  padding-left: 25px;
  color: red !important;
}
.wpcf7-not-valid-tip::before {
  content: "!";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  text-align: center;
  left: 0;
  border-radius: 50px;
  color: red;
  background: white;
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
  font-size: var(--font-size) !important;
  margin: var(--spacing) 0 0 0 !important;
  padding: 20px !important;
  color: #0a0a0a !important;
  background-color: white;
  text-align: center;
  border: 4px solid red !important;
}

.wpcf7 form.sent .wpcf7-response-output {
  font-size: var(--font-size) !important;
  margin: var(--spacing) 0 0 0 !important;
  padding: 20px !important;
  color: #0a0a0a !important;
  background-color: white;
  text-align: center;
  border: 4px solid var(--color-tertiary) !important;
}

.file-cv {
  display: block;
  width: 50%;
  padding: 20px 0;
  text-align: left;
  font-size: 2rem;
}

div.wpcf7 input[type=file] {
  font-size: 1rem;
}

textarea {
  height: 160px;
}

.wpcf7 .ajax-loader {
  position: absolute !important;
}

input[type=email],
input[type=number],
input[type=search],
input[type=text],
input[type=tel],
input[type=url],
input[type=password],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=email]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=text]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
  outline: 0;
}

label {
  display: none;
  color: black;
}

input[type=checkbox],
input[type=radio] {
  display: inline;
}

.required {
  color: #BF5D58;
}

.wpcf7-submit,
.input.wpcf7-submit {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0 !important;
}

.labelfile {
  display: inline-block;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  color: #f1e5e6;
  background-color: #d3394c;
  float: left;
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

.search-form {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5rem;
  width: 60%;
}
@media (min-width: 50em) {
  .search-form {
    width: calc(100% / 3 - 20px);
  }
}
.search-form__input {
  position: relative;
  background-color: var(--color-grey-dark);
  color: white;
}
.search-form__submit {
  position: absolute;
  top: 0;
  right: 0.5rem;
  width: 50px;
  height: 100%;
  background: none;
  border: 0;
}
.search-form input[type=email], .search-form input[type=number], .search-form input[type=search], .search-form input[type=text], .search-form input[type=tel], .search-form input[type=url], .search-form input[type=password], .search-form select, .search-form textarea {
  background-color: var(--color-grey-dark);
  font-weight: var(--font-weight-normal);
  color: white;
  margin-bottom: 0;
  padding: 0.8rem 3.5rem 0.8rem 1rem;
}
.search-form ::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}
.search-form :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}
.search-form ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.hide {
  display: none;
}

.accordion {
  padding: 0;
  list-style: none;
  margin-bottom: var(--spacing-l) !important;
}
.accordion > li {
  margin-bottom: 5px;
}
.accordion > li button {
  text-align: left;
}
.accordion__title {
  position: relative;
  display: flex;
  border: none;
  background: none;
  outline: none;
  padding: 1rem 3rem 1rem 1.5rem;
  width: 100%;
  background-color: var(--color-secondary);
  font-weight: var(--font-weight-bold);
  transition: 0.3s background-color ease-in-out;
}
.accordion__title .icon--arrow {
  color: var(--color-text-base);
  position: absolute;
  display: inline-flex;
  right: 1rem;
  top: 1.8rem;
  transform: translateY(-50%);
  transition: 0.2s all ease-in-out;
}
.accordion__title:hover {
  cursor: pointer;
  background-color: var(--color-secondary);
  transition: 0.3s background-color ease-in-out;
}
.accordion .active {
  background-color: var(--color-secondary);
  transition: 0.3s background-color ease-in-out;
}
.accordion .active .icon--arrow {
  color: var(--color-text-base);
  transform: translateY(-10px) rotate(90deg);
  transition: 0.2s all ease-in-out;
}
.accordion .active + .accordion__content {
  background-color: white;
  transition: 0.3s background-color ease-in-out;
}
.accordion__content {
  background-color: white;
  transition: 0.3s background-color ease-in-out;
  padding: 1.5rem;
  color: var(--color-text-base);
}
.accordion__content ul {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 0;
}
.accordion__content li {
  position: relative;
  padding-left: 1.2rem;
  margin-bottom: 0.3em;
}
.accordion__content li p {
  display: inline;
}
.accordion__content li:before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.7rem;
  line-height: 1;
  font-weight: bold;
  margin-right: 0.6em;
  color: var(--color-text-base);
}

.global-alert {
  background: var(--color-primary);
  text-align: center;
  padding: 1rem;
}

.global-alert p {
  color: white;
  margin: 0;
}

.banner {
  position: relative;
  background-color: var(--color-primary);
  height: 100vw;
  overflow: hidden;
}
@media (min-width: 50em) {
  .banner {
    height: 60vh;
    min-height: 400px;
    max-height: 585px;
  }
}
.banner img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: none;
  min-width: 100%;
  min-height: calc(100% + 2px);
}
.banner .btn {
  position: absolute;
  right: var(--spacing);
  bottom: var(--spacing);
}

.btn,
.wpcf7-submit,
.input.wpcf7-submit {
  display: inline-block;
  border-radius: 0;
  padding: 0.5rem 1.5rem;
  border: none;
  color: white;
  background-color: var(--color-grey-dark);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-lead);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  margin-top: var(--spacing);
}
@media (min-width: 50em) {
  .btn,
.wpcf7-submit,
.input.wpcf7-submit {
    padding: 0.8rem 2rem;
  }
}
.btn:hover, .btn:focus,
.wpcf7-submit:hover,
.wpcf7-submit:focus,
.input.wpcf7-submit:hover,
.input.wpcf7-submit:focus {
  transform: scale(1.1, 1.1);
  color: white;
  text-decoration: none;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-text-base);
}
.btn--primary:hover, .btn--primary:focus {
  color: var(--color-text-base);
}

.columns {
  display: flex;
  flex-direction: column;
  margin-left: -1.75rem;
  margin-right: -1.75rem;
}
@media (min-width: 50em) {
  .columns {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
}
.columns-item {
  width: 100%;
  text-align: center;
  padding: var(--spacing-l) var(--spacing-l) var(--spacing-l) var(--spacing-l);
}
@media (min-width: 50em) {
  .columns-item {
    width: 50%;
    padding: var(--spacing-xl) var(--spacing-xxl);
  }
}
.columns-item h1, .columns-item h2, .columns-item h3, .columns-item .heading-1, .columns-item .heading-2, .columns-item .heading-3 {
  margin-bottom: var(--spacing);
}
@media (min-width: 50em) {
  .columns-item h1, .columns-item h2, .columns-item h3, .columns-item .heading-1, .columns-item .heading-2, .columns-item .heading-3 {
    margin-bottom: var(--spacing-l);
  }
}

.content {
  margin-top: 2rem;
}
.content + * {
  clear: both;
}
.content > * {
  max-width: var(--container);
  margin-right: auto;
  margin-left: auto;
}
.content h2,
.content h3,
.content h4,
.content h5 {
  margin-top: var(--spacing-l);
  margin-bottom: 0;
}
.content a {
  color: var(--link-color);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--link-hover-color);
          text-decoration-color: var(--link-hover-color);
}
.content a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}
.content blockquote {
  max-width: none;
  font-size: var(--font-size-h3);
  line-height: 1.4;
  margin: var(--spacing-l) 0;
}
.content figure {
  max-width: none;
  margin: var(--spacing-xl) 0;
}
.content figcaption {
  padding: 1em 0;
  font-size: var(--font-size-xs);
  color: var(--color-text-dark);
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid var(--color-grey-light);
}
.content ul {
  margin-top: 1.5em;
  padding: 0;
}
.content li {
  position: relative;
  padding-left: 1.2rem;
  margin-bottom: 0.3em;
}
.content li p {
  display: inline;
}
.content li:before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.7rem;
  line-height: 1;
  font-weight: bold;
  margin-right: 0.6em;
  color: var(--color-text-dark);
}
@media (max-width: 49.99em) {
  .content p img {
    width: 100%;
    max-width: 100%;
  }
}

.cookie-alert {
  display: none;
  background: orange;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.cookie-alert.is-visible {
  display: block;
}

.cookie-alert__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-s) var(--spacing-l);
}

.cookie-alert__inner p {
  margin: 0;
  line-height: 1;
  font-size: var(--font-size-small);
}

.cookie-alert__btn {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.cta {
  padding: var(--spacing) 0;
  text-align: center;
}
@media (min-width: 50em) {
  .cta {
    padding: var(--spacing) var(--spacing-xxl);
  }
}
.cta--buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--spacing);
}
@media (max-width: 29.99em) {
  .cta--buttons {
    flex-direction: column;
  }
}
.cta--buttons .btn {
  margin-top: 0 !important;
}
.cta--buttons .btn:first-child {
  margin-right: var(--spacing-s);
}
@media (max-width: 29.99em) {
  .cta--buttons .btn:first-child {
    margin-right: 0;
  }
}
@media (min-width: 50em) {
  .cta--buttons .btn:first-child {
    margin-right: var(--spacing-l);
  }
}
.cta--buttons .btn:last-child {
  margin-left: var(--spacing-s);
}
@media (max-width: 29.99em) {
  .cta--buttons .btn:last-child {
    margin-left: 0;
  }
}
@media (min-width: 50em) {
  .cta--buttons .btn:last-child {
    margin-left: var(--spacing-l);
  }
}

.cta.theme--blue,
.cta.theme--green,
.cta.theme--pink {
  padding: var(--spacing);
  text-align: center;
}
@media (min-width: 50em) {
  .cta.theme--blue,
.cta.theme--green,
.cta.theme--pink {
    padding: var(--spacing) var(--spacing-xxl);
  }
}

.filter {
  padding-bottom: var(--spacing-l);
}
.filter__controls {
  display: flex;
  align-items: flex-start;
  background: var(--color-grey-dark);
  color: white;
  padding: var(--spacing);
}
.filter__controls button:first-of-type {
  margin-right: 3rem;
}
.filter__controls > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 3rem;
}
.filter__controls p {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 8px;
}
.filter__controls button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  color: white;
  background: var(--color-grey-dark);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: background 150ms, opacity 150ms, filter 150ms;
  vertical-align: top;
  border: none;
  margin-bottom: 3px;
  border: 1px solid var(--color-grey-dark);
  font-size: var(--font-size-small);
}
.filter__controls .mixitup-control-active {
  background: var(--color-primary);
  color: var(--color-text-base);
}

.global-footer {
  margin-top: auto;
  background-color: var(--color-grey-dark);
  color: white;
}
.global-footer h2, .global-footer h3, .global-footer h4, .global-footer h5, .global-footer h6, .global-footer p {
  color: white;
  margin-bottom: 1rem;
  font-weight: var(--font-weight-normal);
}
.global-footer a {
  color: white;
}
.global-footer a:hover {
  color: white;
  text-decoration: underline;
}
.global-footer--logo {
  width: 160px;
  z-index: 1;
}
@media (min-width: 50em) {
  .global-footer--logo {
    width: 212px;
  }
}
.global-footer--logo a {
  display: block;
}
.global-footer--content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin-top: var(--spacing);
}
@media (min-width: 50em) {
  .global-footer--content {
    flex-direction: row;
  }
}
.global-footer--contacts {
  width: 100%;
  margin-bottom: var(--spacing);
}
@media (min-width: 50em) {
  .global-footer--contacts {
    width: 65%;
    margin-bottom: 0;
    padding-right: 1rem;
  }
}
.global-footer--contacts-list {
  display: flex;
  flex-wrap: wrap;
}
.global-footer--contacts-list-item {
  width: 50%;
  margin-bottom: 1rem;
  line-height: 1.2;
  word-break: break-all;
  padding: 0 0.5rem;
}
@media (max-width: 49.99em) {
  .global-footer--contacts-list-item:nth-child(odd) {
    padding-left: 0;
  }
  .global-footer--contacts-list-item:nth-child(even) {
    padding-right: 0;
  }
}
@media (min-width: 50em) {
  .global-footer--contacts-list-item {
    padding: 0;
  }
}
.global-footer--contacts-list-item p {
  font-weight: var(--font-weight-light);
}
.global-footer--links {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (min-width: 50em) {
  .global-footer--links {
    width: 50%;
    padding-left: 1rem;
  }
}
.global-footer--links-social {
  width: 50%;
  padding-right: 1rem;
}
@media (min-width: 50em) {
  .global-footer--links-social {
    width: auto;
    padding-left: 0;
    padding-left: 1rem;
  }
}
.global-footer--links-web {
  width: 50%;
}
@media (min-width: 50em) {
  .global-footer--links-web {
    width: auto;
  }
}
.global-footer--nav ul li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.global-footer--nav ul li a {
  font-size: var(--font-size-small);
  color: white;
  font-weight: var(--font-weight-light);
}
.global-footer--copy {
  margin: var(--spacing-l) 0 var(--spacing) 0;
  text-align: center;
}
.global-footer--copy p {
  font-weight: var(--font-weight-light);
}

.global-footer__inner {
  display: flex;
  flex-direction: column;
  max-width: var(--container);
  padding: var(--spacing) 1.3rem;
}

.global-footer p {
  color: white;
  margin: 0;
  font-size: var(--font-size-small);
}

.global-header {
  z-index: 9;
  background-color: var(--color-grey-dark);
}
.global-header--inner {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.9rem;
  z-index: 9;
}
@media (min-width: 50em) {
  .global-header--inner {
    padding: 0.9rem 1.3rem;
  }
}
.global-header--logo {
  width: 240px;
  z-index: 1;
}
@media (min-width: 50em) {
  .global-header--logo {
    width: 282px;
  }
}
.global-header--logo a {
  display: block;
}
.global-header--content {
  margin-left: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  width: 100%;
}
@media (min-width: 50em) {
  .global-header--content {
    margin-left: 2.5rem;
  }
}
.global-header--content p {
  color: white;
  margin-top: 0;
  font-weight: var(--font-weight-light);
  font-size: 14px;
}
@media (min-width: 50em) {
  .global-header--content p {
    font-size: var(--font-size);
  }
}
.global-header--nav {
  align-items: center;
  height: 100%;
  padding: 0 0.5rem;
  margin-left: auto;
  margin-top: auto;
  padding-bottom: 1.3rem;
}
@media (min-width: 50em) {
  .global-header--nav {
    display: flex;
    padding: 0;
    margin-right: 1rem;
  }
}
.global-header--nav .menu-primary-container {
  width: 100%;
}
.global-header--nav-desktop {
  display: none;
}
@media (min-width: 50em) {
  .global-header--nav-desktop {
    display: flex;
  }
}
.global-header--nav-mobile {
  display: flex;
}
@media (min-width: 50em) {
  .global-header--nav-mobile {
    display: none;
  }
}
.global-header--nav ul {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}
.global-header--nav ul li {
  display: inline;
  line-height: 100%;
}
.global-header--nav ul li:first-child a {
  margin-left: 0;
}
.global-header--nav ul li:last-child a {
  margin-right: 0;
}
.global-header--nav ul li a {
  position: relative;
  color: white;
  margin: 0 0.1rem;
  font-weight: var(--font-weight-normal);
  text-decoration: none;
  font-size: 15px;
  transition: color 0.2s ease-in-out;
}
@media (min-width: 50em) {
  .global-header--nav ul li a {
    margin: 0 1.5rem;
    font-size: var(--font-size);
  }
}
@media (min-width: 70em) {
  .global-header--nav ul li a {
    margin: 0 2rem;
  }
}
.global-header--nav ul li a:hover {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.global-header--nav-btn {
  cursor: pointer;
  overflow: visible;
  background: none;
  border: 0;
  outline: none;
  display: block;
  margin-top: 7px;
  z-index: 4;
  margin-left: auto;
}
@media (min-width: 50em) {
  .global-header--nav-btn {
    display: none;
  }
}
.global-header--nav__mobile {
  position: fixed;
  padding: 50px;
  padding-top: 100px;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background: transparent;
  transition: all 0.2s ease-in-out;
  display: block;
}
@media (min-width: 50em) {
  .global-header--nav__mobile {
    display: none;
  }
}
.global-header--nav__mobile ul {
  display: flex;
  flex-direction: column;
}
.global-header--nav__mobile ul li {
  line-height: 2.2rem;
  text-align: center;
}
.global-header--nav__mobile ul li a {
  color: white;
  padding: 0;
  font-size: 1.5rem;
}
.global-header--nav__mobile ul li a:hover {
  color: white;
}

ul.menu {
  padding-left: 0;
}
ul.menu li {
  padding-left: 0;
  display: inline-block;
}

.global-header--nav__mobile.is-active {
  transform: translateX(-100%);
  transition: all 0.2s ease-in-out;
  background: var(--color-grey-dark);
}

/*
* SVG animation
*/
.global-header--nav-btn.is-active .global-header--nav-inner,
.global-header--nav-btn.is-active .global-header--nav-inner::before,
.global-header--nav-btn.is-active .global-header--nav-inner::after {
  background-color: white;
}

.global-header--nav-btn.is-active {
  position: fixed;
  right: 1.3rem;
  margin-top: 4px;
}

.global-header--nav-box {
  width: 40px;
  height: 26px;
  display: inline-block;
  position: relative;
}

.global-header--nav-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.global-header--nav-inner span {
  visibility: hidden;
  position: absolute;
}

.global-header--nav-inner,
.global-header--nav-inner::before,
.global-header--nav-inner::after {
  width: 40px;
  height: 3px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.global-header--nav-inner::before,
.global-header--nav-inner::after {
  content: "";
  display: block;
}

.global-header--nav-inner::before {
  top: -10px;
}

.global-header--nav-inner::after {
  bottom: -10px;
}

.global-header--nav-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.global-header--nav-inner::before,
.global-header--nav-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}

.global-header--nav-inner::before {
  transition-property: top, opacity;
}

.global-header--nav-inner::after {
  transition-property: bottom, transform;
}

.is-active .global-header--nav-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.is-active .global-header--nav-inner::before, .is-active .global-header--nav-inner::after {
  transition-delay: 0s;
}

.is-active .global-header--nav-inner::before {
  top: 0;
  opacity: 0;
}

.is-active .global-header--nav-inner::after {
  bottom: 0;
  transform: rotate(90deg);
}

.icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.icon--small {
  width: 13px;
  height: 13px;
}

.icon--medium {
  width: 26px;
  height: 26px;
}

.icon--large {
  width: 32px;
  height: 32px;
}

.icon--xlarge {
  width: 40px;
  height: 40px;
}

.icon--scale {
  width: 0.75em;
  height: 0.75em;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.icon--offset {
  margin-right: 5px;
}

.image img {
  width: 100%;
}

.global-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container, .post-title, .main, .global-footer__inner {
  margin: 0 auto;
  padding: 0 1.75rem;
  width: 100%;
  max-width: var(--container);
}
@media (min-width: 50em) {
  .container, .post-title, .main, .global-footer__inner {
    padding: 0 1rem;
  }
}

.main {
  max-width: var(--container);
  flex: 1;
}
.main + * {
  clear: both;
}
.main section {
  margin-bottom: var(--spacing);
}
@media (min-width: 50em) {
  .main section {
    margin-bottom: var(--spacing-xl);
  }
}

.theme--pink {
  background-color: var(--color-primary);
}
.theme--blue {
  background-color: var(--color-secondary);
}
.theme--green {
  background-color: var(--color-tertiary);
}
.theme--white {
  background-color: white;
}

.link-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--spacing);
}
@media (min-width: 50em) {
  .link-list {
    padding: var(--spacing-l);
  }
}
@media (min-width: 70em) {
  .link-list {
    padding: var(--spacing-xl);
  }
}
.link-list--title {
  display: block;
  width: 100%;
}
.link-list .btn {
  margin-left: auto;
  margin-right: auto;
}
.link-list-item {
  background: var(--color-grey-dark);
  color: white;
  width: 100%;
  margin: 0 0 var(--spacing) 0;
}
@media (min-width: 50em) {
  .link-list-item {
    width: calc(100% / 3 - 20px);
    margin: 10px;
  }
}
.link-list-item:hover {
  color: white;
  text-decoration: none;
  transform: scale(1.1, 1.1);
}
.link-list-item--image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(100vw - 123px);
}
@media (min-width: 50em) {
  .link-list-item--image {
    height: calc(33vw - 60px);
    max-height: 370px;
  }
}
.link-list-item--image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: none;
  min-width: calc(100% + 2px);
  min-height: calc(100% + 2px);
}
@media (max-width: 29.99em) {
  .link-list-item--image img {
    max-width: 100%;
  }
}
@media (min-width: 50em) {
  .link-list-item--image img {
    max-width: none;
  }
}
.link-list-item--content {
  padding: var(--spacing);
}

.locations {
  display: flex;
  flex-wrap: wrap;
}
.locations-item {
  width: calc(100% / 2);
  padding-right: 1rem;
  margin-bottom: 2rem;
}
@media (min-width: 50em) {
  .locations-item {
    width: calc(100% / 3);
  }
}
.locations-item a {
  color: var(--color-text-base);
}
.locations-item a:hover {
  color: var(--color-text-base);
  text-decoration: underline;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -1rem;
}
@media (min-width: 50em) {
  .logos {
    margin: 0 -3rem;
  }
}
.logos--two .logos-item {
  width: calc(100% / 2);
}
.logos--three .logos-item {
  width: calc(100% / 2);
}
@media (min-width: 50em) {
  .logos--three .logos-item {
    width: calc(100% / 3);
  }
}
.logos--four .logos-item {
  width: calc(100% / 2);
}
@media (min-width: 50em) {
  .logos--four .logos-item {
    width: calc(100% / 4);
  }
}
.logos-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
@media (min-width: 50em) {
  .logos-item {
    padding: 2rem 3rem;
  }
}
.logos-item img {
  width: 100%;
}

body.nav-open {
  overflow: hidden;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: white;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.3s ease;
}
@media (min-width: 50em) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-toggled {
  transform: translateZ(0);
}

.pagination {
  clear: both;
  width: 100%;
  display: flex;
  justify-content: center;
}
.pagination-nav {
  display: flex;
  background-color: var(--color-grey-dark);
  padding: 1rem;
  color: white;
}
.pagination-nav span {
  padding: 0 0.5rem;
}
.pagination-nav a {
  color: white;
  text-decoration: underline;
  padding: 0 0.5rem;
}
.pagination-nav .prev, .pagination-nav .next {
  padding: 0;
}

.mixitup-page-list {
  display: flex;
  justify-content: center;
}
.mixitup-page-list button {
  background-color: var(--color-grey-dark);
  color: white;
  border: 0;
  padding: 0.5rem 1rem;
  margin: 0 2px;
  text-decoration: underline;
}
.mixitup-page-list button:hover {
  cursor: pointer;
  font-weight: var(--font-weight-bold);
}
.mixitup-page-list .mixitup-control-active {
  font-weight: var(--font-weight-bold);
  text-decoration: none;
}
.mixitup-page-list .mixitup-control-disabled {
  opacity: 0.3;
  text-decoration: none;
}

.post-title {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  max-width: var(--container);
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}
.post-title h1, .post-title h2 {
  margin: 0;
}
@media (min-width: 50em) {
  .post-title h1, .post-title h2 {
    max-width: 75%;
  }
}
.post-title .btn {
  margin-top: 1rem;
}
@media (min-width: 50em) {
  .post-title {
    flex-direction: row;
    align-items: center;
  }
  .post-title h1, .post-title h2, .post-title .btn {
    margin: 0;
  }
}
.post-meta {
  display: flex;
  margin-top: 2rem;
}
.post-meta p {
  margin-right: 1rem;
  margin-bottom: 0;
}
.post-selection {
  display: flex;
  width: 100%;
}
.post-selection--filter {
  margin-left: auto;
  margin-right: 1.5rem;
}
@media (max-width: 49.99em) {
  .post-selection--filter {
    width: 40%;
  }
}
.post-selection--filter button {
  margin-top: 0;
  font-size: var(--font-size);
  font-weight: var(--font-weight-normal);
  padding: 0.8rem 3.5rem 0.8rem 1rem;
  width: 100%;
  text-align: left;
}
@media (max-width: 49.99em) {
  .post-selection--filter button {
    padding: 0.8rem 1rem 0.8rem 1rem;
  }
}
.post-selection--filter button:hover {
  transform: none;
}

.social-links {
  display: flex;
}

.social-links__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.3rem;
  margin-bottom: 1rem;
  width: 48px;
  min-width: 48px;
  height: 48px;
  border: 2px solid white;
  border-radius: 70px;
  transition: transform 0.1s ease-in-out;
}
@media (max-width: 29.99em) {
  .social-links__item {
    width: 38px;
    min-width: 38px;
    height: 38px;
  }
}
@media (min-width: 70em) {
  .social-links__item {
    margin: 0 0.5rem;
    margin-bottom: 1rem;
    width: 68px;
    height: 68px;
  }
}
.social-links__item:first-child {
  margin-left: 0;
}
.social-links__item:hover {
  transform: scale(1.1, 1.1);
}

.social-links__link {
  display: flex;
  color: white;
}
.social-links__link .icon {
  width: 30px;
  height: 20px;
}
@media (max-width: 29.99em) {
  .social-links__link .icon {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 70em) {
  .social-links__link .icon {
    width: 42px;
    height: 32px;
  }
}
.social-links__link .icon-facebook {
  height: 50px;
}

.testimonial {
  padding: var(--spacing);
}
@media (min-width: 50em) {
  .testimonial {
    padding: var(--spacing-xl) var(--spacing-xxl);
  }
}
.testimonial .lead {
  font-size: var(--font-size-h4);
  line-height: 1.25;
  margin-bottom: var(--spacing-s);
}
@media (min-width: 50em) {
  .testimonial .lead {
    font-size: var(--font-size-h3);
    line-height: 1.5;
  }
}

.text-image {
  display: flex;
  flex-direction: column;
}
@media (min-width: 50em) {
  .text-image {
    flex-direction: row;
  }
}
.text-image--content {
  width: 100%;
  order: 1;
  padding-bottom: var(--spacing);
}
@media (min-width: 50em) {
  .text-image--content {
    width: 50%;
    padding-right: var(--spacing-l);
    padding-bottom: 0;
  }
}
.text-image--content__right {
  order: 2;
}
@media (min-width: 50em) {
  .text-image--content__right {
    padding-left: var(--spacing-l);
    padding-right: 0;
  }
}
.text-image--image {
  width: 100%;
  order: 1;
}
@media (min-width: 50em) {
  .text-image--image {
    width: 50%;
  }
}
.text-image--image img {
  width: 100%;
}
.text-image--image__left {
  order: 2;
}
@media (min-width: 50em) {
  .text-image--image__left {
    order: 0;
    padding-right: var(--spacing-l);
  }
}
@media (min-width: 50em) {
  .text-image--image__right {
    padding-left: var(--spacing-l);
    order: 1;
  }
}

.title-block {
  padding-top: var(--spacing);
}
@media (min-width: 50em) {
  .title-block {
    padding-top: var(--spacing-xxl);
  }
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -1rem;
}
@media (min-width: 50em) {
  .logos {
    margin: 0 -3rem;
  }
}
.logos--two .logos-item {
  width: calc(100% / 2);
}
.logos--three .logos-item {
  width: calc(100% / 2);
}
@media (min-width: 50em) {
  .logos--three .logos-item {
    width: calc(100% / 3);
  }
}
.logos--four .logos-item {
  width: calc(100% / 2);
}
@media (min-width: 50em) {
  .logos--four .logos-item {
    width: calc(100% / 4);
  }
}
.logos-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
@media (min-width: 50em) {
  .logos-item {
    padding: 2rem 3rem;
  }
}
.logos-item img {
  width: 100%;
}

.wp-block {
  max-width: var(--container);
  margin-left: auto !important;
  margin-right: auto !important;
}

.block-list-appender > .block-editor-inserter {
  clear: both;
}

/* Stop links being clickable in the block editor */
.acf-block-preview a {
  pointer-events: none !important;
}
