// Setup
@import "settings";
@import "utilities/mq";
@import "utilities/mixins";
@import "variables";

// Base
@import "base/base";
@import "base/typography";
@import "base/forms";

// Components

@import "components/*.scss";
@import "components/logos.scss";

.wp-block {
	max-width: var(--container);
	margin-left: auto !important;
	margin-right: auto !important;
}

.block-list-appender>.block-editor-inserter {
	clear: both;
}

/* Stop links being clickable in the block editor */
.acf-block-preview a {
	pointer-events: none!important;
}