// Setup
@import "settings";
@import "utilities/mq";
@import "utilities/mixins";
@import "variables";

// Base
@import "base/base";
@import "base/typography";

// Components

@import "components/*.scss";

.wp-block {
    max-width: var(--container);
    margin-left: auto !important;
    margin-right: auto !important;
}