.columns {
	display: flex;
	flex-direction: column;
	margin-left: -1.75rem;
	margin-right: -1.75rem;

	@include mq(medium) {
		flex-direction: row;
		margin-left: auto;
		margin-right: auto;
	}
	&-item {
		width: 100%;
		text-align: center;
		padding: var(--spacing-l) var(--spacing-l) var(--spacing-l) var(--spacing-l);
		@include mq(medium) {
			width: 50%;
			padding: var(--spacing-xl) var(--spacing-xxl);
		}

		h1, h2, h3, .heading-1, .heading-2, .heading-3 {
			margin-bottom: var(--spacing);
			@include mq(medium) {
				margin-bottom: var(--spacing-l);
			}
		}
	}
}