.columns {
	display: flex;
	flex-direction: column;
	margin-left: -1.75rem;
	margin-right: -1.75rem;

	@include mq(medium) {
		flex-direction: row;
		margin-left: auto;
		margin-right: auto;
	}
	&-item {
		text-align: center;
		padding: var(--spacing-xl) var(--spacing-l);
		@include mq(medium) {
			padding: var(--spacing-xl) var(--spacing-xxl);
		}
	}
}