.filter {
	padding-bottom: var(--spacing);
	padding-top: var(--spacing);
	@include mq(medium) {
		padding-bottom: var(--spacing-l);
		padding-top: var(--spacing-xl);
	}
	&__targets {
		padding-top: 10px;
	}
	&__controls {
		display: none;
		flex-direction: column;
		align-items: flex-start;
		background: var(--color-grey-dark);
		color: white;
		padding: var(--spacing);
		margin: 0 calc(var(--spacing-xl) - 10px);
		&--options {
			display: flex;
			flex-direction: row;
			width: 100%;
			> div {
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				margin-right: 3rem;
			}
		}
		p {
			color: white;
			text-transform: uppercase;
			font-size: 12px;
			margin-left: 8px;
			margin-bottom: 0.5rem;
		}
		&--wrap {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
		}

		button {
			position: relative;
			overflow: hidden;
			display: inline-block;
			color: white;
			background: var(--color-grey-dark);
			cursor: pointer;
			backface-visibility: hidden;
			transition: background 150ms,opacity 150ms,filter 150ms;
			vertical-align: top;
			border: none;
			margin-bottom: 3px;
			margin-right: 3px;
			font-size: var(--font-size-small);
		}
		&--reset {
			display: flex;
			flex-direction: row !important;
			margin-left: auto;
			margin-right: 0 !important;
			button {
				background: var(--color-secondary);
				color: var(--color-text-base);
				margin-right: 0.5rem !important;
			}
			.btn--filter {
				background: white;
			}
		}
		.mixitup-control-active {
			background: white;
			color: var(--color-text-base);
		}
	}
}