.global-footer {
	margin-top: auto;
	background-color: var(--color-grey-dark);
	color: white;
	h2, h3, h4, h5, h6, p {
		color: white;
		margin-bottom: 1rem;
		font-weight: var(--font-weight-normal);
	}
	a {
		&:hover {
			color: white;
			text-decoration: underline;
		}
	}
	&--logo {
		width: 160px;
		z-index: 1;
		@include mq(medium) {
			width: 212px;
		}
		a {
			display: block;
		}
	}
	&--content {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: space-between;
		margin-top: var(--spacing);
		@include mq(medium) {
			flex-direction: row;
		}
	}
	&--contacts {
		width: 100%;
		margin-bottom: var(--spacing);
		@include mq(medium) {
			width: 65%;
			margin-bottom: 0;
			padding-right: 1rem;
		}
		&-list {
			display: flex;
			flex-wrap: wrap;
			&-item {
				width: 50%;
				margin-bottom: 1rem;
				p {
					font-weight: var(--font-weight-light);
				}
			}
		}
	}
	&--links {
		display: flex;
		width: 100%;
		justify-content: space-between;
		@include mq(medium) {
			width: 50%;
			padding-left: 1rem;
		}
		&-social {
			width: 50%;
			padding-right: 1rem;
			@include mq(medium) {
				width: auto;
				padding-left: 0;
				padding-left: 1rem;
			}
		}
		&-web {
			width: 50%;
			@include mq(medium) {
				width: auto;
			}
		}
	}

	&--nav {
		ul {
			li {
				display: flex;
				flex-direction: column;
				margin-bottom: 1rem;
				a {
					font-size: var(--font-size-small);
					color: white;
					font-weight: var(--font-weight-light);
				}
			}
		}
	}
	&--copy {
		margin: var(--spacing-l) 0 var(--spacing) 0;
		text-align: center;
		p {
			font-weight: var(--font-weight-light);
		}
	}
}

.global-footer__inner {
	@extend .container;
	display: flex;
	flex-direction: column;
	max-width: var(--container);
	padding: var(--spacing) 1.3rem;
}

.global-footer p {
	color: white;
	margin: 0;
	font-size: var(--font-size-small);
}
