.global-footer {
	margin-top: auto;
	text-align: center;
	background-color: var(--color-grey-dark);
}

.global-footer__inner {
	@extend .container;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: var(--container);
	padding: var(--spacing) 1.3rem;
}

.global-footer p {
	color: white;
	margin: 0;
	font-size: var(--font-size-small);
}
