// =============================================================================
// Site
// =============================================================================

.global-container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	margin: 0 auto;
	padding: 0 1.75rem;
	width: 100%;
	max-width: var(--container-width);
	@include mq(medium) {
		padding: 0 1rem;
	}
}

.main {
	@extend .container;
	max-width: var(--container);
	flex: 1;
}

.theme {
	&--pink {
		background-color: var(--color-primary);
	}
	&--blue {
		background-color: var(--color-secondary);
	}
	&--green {
		background-color: var(--color-tertiary);
	}
	&--white {
		background-color: white;
	}
}
