.link-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: var(--spacing);
	// padding-top: 10px;
	@include mq(medium) {
		padding: var(--spacing-l);
		// padding-top: 10px;
	}
    @include mq(large) {
		padding: calc(var(--spacing-xl) - 20px);
		// padding-top: 10px;
	}

	&--title {
		display: block;
		width: 100%;
	}
	.btn {
		margin-left: auto;
		margin-right: auto;
	}

	&-item {
		width: 100%;
		margin: 0 0 var(--spacing) 0;

		@include mq(medium) {
			width: calc(100% / 3 - 20px);
			margin: 10px;
		}
		&--link {
			position: relative;
			background: var(--color-grey-dark);
			height: 100%;
			color: white;
			z-index: 1;
			transition: all 0.1s ease-in-out;
			display: flex;
			flex-direction: column;
			z-index: 1;

			@include mq(medium) {
				// margin: 10px;
			}

			&:hover {
				color: white;
				text-decoration: none;
				transform: scale(1.05,1.05);
				z-index: 9;
			}
		}

		&--image {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: calc(100vw - 123px); 
			@include mq(medium) {
				height: calc(33vw - 60px); 
				max-height: 370px;
			}
			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				max-width: none;
				min-width: calc(100% + 2px);
				min-height: calc(100% + 2px);

				@include mq($until: small) {
					max-width: 100%;
				}
				
				@include mq(medium) {
					max-width: none;
				}
			}
		}

		&--content {
			padding: var(--spacing);
		}
	}
	&--button {
		width: 100%;
		display: flex;

	}
}