.link-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: var(--spacing);
	@include mq(medium) {
		flex-direction: row;
		padding: var(--spacing-l);
	}
    @include mq(large) {
		padding: var(--spacing-xl);
	}

	&-item {
		background: var(--color-grey-dark);
		color: white;
		transition: transform 0.1s ease-in-out;
		width: calc(100% / 3 - 20px);
		margin: 0 calc(var(--spacing) / 2) var(--spacing) calc(var(--spacing) / 2)  ;

		&:nth-child(3n+1) {
			margin-left: 0;
		}
		&:nth-child(3n+3) {
			margin-right: 0;
		}

		&:hover {
			color: white;
			text-decoration: none;
			transform: scale(1.1,1.1);
		}

		&--image {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: calc(33vw - 60px); 
			max-height: 350px;
			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				max-width: none;
				min-width: 100%;
				min-height: calc(100% + 2px);
			}
		}

		&--content {
			padding: var(--spacing);
		}
	}
}