.pagination {
	clear: both;
	width: 100%;
	display: flex;
	justify-content: center;
	&-nav {
		display: flex;
		background-color: var(--color-grey-dark);
		padding: 1rem;
		color: white;
		span {
			padding: 0 0.5rem;
		}

		a {
			color: white;
			text-decoration: underline;
			padding: 0 0.5rem;
		}
		.prev, .next {
			padding: 0;
		}
		// .prev, .next {
		// 	color: red;
		// 	order: 2;
		// 	width: 50%;
		// 	clear: both;
		// 	display: flex;
		// }
	}
}

.mixitup-page-list {
	// background-color: var(--color-grey-dark);
	display: flex;
	justify-content: center;

	button {
		background-color: var(--color-grey-dark);
		color: white;
		border: 0;
		padding: 0.5rem 1rem;
		margin: 0 2px;
		text-decoration: underline;
		&:hover {
			cursor: pointer;
			font-weight: var(--font-weight-bold);
		}
	}
	.mixitup-control-active {
		font-weight: var(--font-weight-bold);
		text-decoration: none;
	}
	.mixitup-control-disabled {
		opacity: 0.3;
		text-decoration: none;
	}
	.mixitup-control-prev, .mixitup-control-next {
		text-decoration: none;
		font-weight: var(--font-weight-normal);
	}
}