.testimonial {
	padding: var(--spacing);
	@include mq(medium) {
		padding: var(--spacing-xl) var(--spacing-xxl);
	}

	.lead {
		@extend .heading-3;
		line-height: 1.5;
		margin-bottom: var(--spacing-s);
	}
}