.testimonial {
	padding: var(--spacing);
	@include mq(medium) {
		padding: var(--spacing-xl) var(--spacing-xxl);
	}

	.lead {
		font-size: var(--font-size-h4);
		line-height: 1.25;
		margin-bottom: var(--spacing-s);
		@include mq(medium) {
			font-size: var(--font-size-h3);
			line-height: 1.5;
		}
	}
}