.text-image {
	display: flex;
	flex-direction: column;

	@include mq(medium) {
		flex-direction: row;
	}
	&--content {
		width: 100%;
		order: 1;
		padding-bottom: var(--spacing);
		@include mq(medium) {
			width: 50%;
			padding-right: var(--spacing-l);
			padding-bottom: 0;
		}
		&__right {
			order: 2;
			@include mq(medium) {
				padding-left: var(--spacing-l);
				padding-right: 0;
			}
		}
	}
	&--image {
		width: 100%;
		order: 1;
		// padding-bottom: var(--spacing);
		@include mq(medium) {
			width: 50%;
			// padding-bottom: 0;
		}
		img {
			width: 100%;
		}

		&__left {
			order: 2;
			@include mq(medium) {
				order: 0;
				padding-right: var(--spacing-l);
			}
		}
		&__right {
			@include mq(medium) {
				padding-left: var(--spacing-l);
				order: 1;
			}
		}
	}
}