// =============================================================================
// Forms
// =============================================================================
.form {
	padding: var(--spacing);
	@include mq(medium) {
		padding: var(--spacing-xl);
	}
}
.form-fields {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	margin: 0 auto;
	@include mq(medium) {
		margin: 0 auto 2rem auto;
	}
	&--half {
		margin-bottom: 0.2rem;
		width: 100%;
		@include mq(medium) {
			margin-bottom: 0.2rem;
			width: 50%;
			padding-left: 0.5rem;
		}
		&:first-child {
			@include mq(medium) {
				padding-left: 0;
				padding-right: 0.5rem;
			}
		}
	}
	&--full {
		margin-bottom: 0.2rem;
		width: 100%;
	}
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
select,
textarea {
	padding: 1rem 1.5rem;
	background-color: #fff;
	border: 0;
	box-shadow: none;
	box-sizing: border-box;
	font-family: var(--body-family);
	font-weight: var(--font-weight-light);
	font-size: var(--font-size);
	width: 100%;
	display: inline-block;
	margin-bottom: 0.7rem;
	color: var(--color-text-base);

	.full-width {
		width: 100%;
	}
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--color-text-base);
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: var(--color-text-base);
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: var(--color-text-base);
}

.wpcf7-not-valid::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--color-text-base);
	opacity: 1; /* Firefox */
}

.wpcf7-not-valid:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: var(--color-text-base);
}

.wpcf7-not-valid::-ms-input-placeholder { /* Microsoft Edge */
	color: var(--color-text-base);
}

// Contact Form 7 styling

input[type="email"].wpcf7-not-valid,
input[type="number"].wpcf7-not-valid,
input[type="search"].wpcf7-not-valid,
input[type="text"].wpcf7-not-valid,
input[type="tel"].wpcf7-not-valid,
input[type="url"].wpcf7-not-valid,
input[type="password"].wpcf7-not-valid,
select.wpcf7-not-valid,
textarea.wpcf7-not-valid{
	background-color: white;
	border: 4px solid red !important;
	font-weight: var(--font-weight-bold);
	
}
.wpcf7-form p {
	margin-bottom: 0;
	// text-align: left;
}
.wpcf7-not-valid-tip {
	text-align: left;
	margin: -5px 0 10px 0;
	font-size: var(--font-size-small) !important;
	font-weight: var(--font-weight-bold);
	position: relative;
	padding-left: 25px;
	color: red !important;


	&::before {
		content: '!';
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 20px;
		width: 20px;
		text-align: center;
		// top: 0;
		left: 0;
		border-radius: 50px;
		color: red;
		background: white;
	}
}
.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
    font-size: var(--font-size) !important;
	margin: var(--spacing) 0 0 0 !important;
	padding: 20px !important;
	color: #0a0a0a !important;
    background-color: white;
	text-align: center;
    border: 4px solid red !important;
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}
.wpcf7 form.sent .wpcf7-response-output {
	font-size: var(--font-size) !important;
	margin: var(--spacing) 0 0 0 !important;
	padding: 20px !important;
	color: #0a0a0a !important;
    background-color: white;
	text-align: center;
    border: 4px solid var(--color-tertiary) !important;
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}
.file-cv {
	display: block;
	width: 50%;
	// background: #F6F6F6;
	// border: 1px solid $color-grey-lighter;
	// text-align: center;
	padding: 20px 0;
	text-align: left;
	font-size: 2rem;
}
div.wpcf7 input[type="file"] {
	font-size: 1rem;
}
textarea {
	height: 160px;
}

.wpcf7 .ajax-loader {
	position: absolute !important;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	// border: 1px solid black;
	outline: 0;
}

label {
	display: none;
	// margin: .5em 0;
	color: black;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
	// margin: 1.5rem 0;
	// border: 0;
	// padding: 12px 48px;
	// top: 0;
	// transition: top .2s ease-in-out, background-color .2s ease-in-out;
}

// input[type="submit"].center,
// input[type="reset"].center,
// input[type="button"].center {
// 	margin: 0 auto;
// }

// input[type="submit"]:hover,
// input[type="reset"]:hover,
// input[type="button"]:hover,
// input[type="submit"]:focus,
// input[type="reset"]:focus,
// input[type="button"]:focus {
// 	background: $color-grey;
// 	text-decoration: none;
// 	color: #fff;
// }

 .required {
	 color: #BF5D58;
 }


.wpcf7-submit,
.input.wpcf7-submit {
	display: block !important;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0 !important;
}

.labelfile {
	display: inline-block;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: block;
    overflow: hidden;
	padding: 0.625rem 1.25rem;
	color: #f1e5e6;
	background-color: #d3394c;
	float: left;
}
.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.search-form {
	position: relative;
	display: flex;
	align-items: flex-start;
	// margin-bottom: 1.5rem;
	width: 60%;
	@include mq(medium) {
		width: calc(100% / 3 - 10px);
	}
	&__input {
		position: relative;
		background-color: var(--color-grey-dark);
		color: white;
	}
	&__submit {
		position: absolute;
		top: 0;
		right: 0.5rem;
		width: 50px;
		height: 100%;
		background: none;
		border: 0;
	}
	input[type=email], input[type=number], input[type=search], input[type=text], input[type=tel], input[type=url], input[type=password], select, textarea {
		background-color: var(--color-grey-dark);
		font-weight: var(--font-weight-normal);
		color: white;
		margin-bottom: 0;
		padding: 0.8rem 3.5rem 0.8rem 1rem;
		// width: 280px;
	}
	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: white;
		opacity: 1; /* Firefox */
	}
}